<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djdevs.djnejk.testdeeplink">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestDeeplink">
        <!-- pozor, theme název může být trochu jiný podle projektu -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Zachycování odkazů -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- VŠECHNY http/https odkazy -->
                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- WAZE -->
                <data android:scheme="waze" />

                <!-- HERE WE GO – různé verze -->
                <data android:scheme="here" />
                <data android:scheme="herewego" />

                <!-- YANDEX MAPS – různé verze -->
                <data android:scheme="yandexmaps" />
                <data android:scheme="yandexnavi" />

                <!-- Specifické weby -->
                <data android:host="yandex.ru" />
                <data android:host="yandex.com" />
                <data android:host="share.here.com" />

            </intent-filter>

        </activity>


    </application>

</manifest>
